* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.putar{
    animation: helicopter-rotate 1s linear infinite;
}
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: #380b61 2px solid;
    width: 35%;
    border-radius: 50px;
}

form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%; 
    margin-bottom: 20px;
}

button {
    background-color: #380b61;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #ffb411;
    color: black;
    cursor: pointer;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    padding: 20px;
    border: #380b61 2px solid;
    border-radius: 5px;
    width: 80%; 
    max-width: 300px; 
}

.hapus {
    text-decoration: none;
    color: red;
    transition: all 0.3s ease-in-out;
}

.hapus:hover {
    color: #ffb411;
    transform: scale(2);
}
.edit{
    text-decoration: none;
    color: rgb(96, 16, 176);
    transition: all 0.3s ease-in-out;
}
.edit:hover{
    color: #ffb411;
    transform: scale(2);
}

.list-tugas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 80%;
    max-width: 300px;
    gap: 5px;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;

    margin-right: 5px;
    border-radius: 5px;
}

li:nth-child(even) {
    background-color: #e4e2e6;
}

.nuclear-button{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 25px;

    border-radius: 20px;
    box-shadow: grey 2px 2px 5px;

}
.nuclear-button:hover{
    /* transform: rotate(180deg) scale(1.5); */
    animation: helicopter-rotate 1s linear infinite;

}

.kosong-text {
    color: #380b61;
}

@keyframes helicopter-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.troll-button{
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.kamu-gelap{
    background-color: black;
    color: white;
}